*{
    padding: 0;
    margin: 0;
    font-family: 'Edu NSW ACT Foundation', cursive;
font-family: 'Roboto Condensed', sans-serif;
}
.flex{
    display: flex;
    
}
.logo img{
   height: 1.9rem;
   padding: 0.55rem;
   
}

.navbar{
    justify-content: space-between;
    padding-top: 0.9rem;
    padding-left:5rem;
    padding-right: 5rem;
    background-color: #9ed2c4;
    padding-bottom: .8rem;
}
.ul{
    list-style: none;
    gap: 1.5rem;
    padding:1rem;
    font-size: 1rem;
}
.links a{
    background-color: #344b87;
    color: white;
    text-decoration: none;
    padding:0.7rem;
    border-radius: 0.25rem;  
}
/* navbar completed */
.left-contener2 h5{
    color: #9ed2c4;
    font-size: 1rem;
}
.left-contener2 h1{
    font-size: 2.5rem;
    color: #30749f;
}

.main-contener2{
    padding-left: 8rem;
    padding-right: 8rem;
    padding-top: 3rem;
    padding-bottom: 5rem;
}
.left-contener2{
        flex-direction: column;
        gap: 1rem;
        max-width: 50%;  
    
}
.left-contener2 p{
    line-height: 1.45rem;
}
.right-contener2{
    padding-left: 25rem;
}
/* main -contener2 */
.progects-contener{
    background-color:#c3ded7;
   
   text-align: center;
   color: #344b87;
   padding-top: 1.5rem;
}
.progect-counts{
    justify-content: space-between;
    padding-left: 15rem;
    padding-right: 15rem;
    padding-bottom: 1rem;
}
.progect-counts ul{
    list-style: none;
    /* padding-top: 4rem; */
}
.progect-counts ul li{
    padding-top: 1rem;
}
.counts-size{
    font-size: 4rem;
    font: bolder ;
}
/* progect-contener completed */
.main-client-contener{
    background-color: #eaeaea;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 4rem;
    padding-bottom: 3rem;
    
}
.main-client-contener h1{
    color: #30749f;
    text-align: center;
}
.client1{
    background-color: white;
    margin-left: 1rem;
    max-width: 50rem;
    gap: 3rem;
    /* padding-left: 1rem;
    padding-right: 1rem; */
    padding:.25rem 1rem 1rem 1rem;
    margin-top: 2rem;
}
.client-img{
    padding-top: 2rem;
}
.client-text{
    padding-top: 1.5rem;
}
.client-text h4{
    padding-top: 1rem;
    line-height: 2rem;
}
.client-right{
    margin-left: 30rem;
}
/* main client contener */
.footer{
    background-color: #344b87;
    padding-left: 15rem;
    padding-right: 15rem;
    justify-content: space-between;
    padding-top: 3rem;
    color: white;
    padding-bottom: 3rem;
    font-size: 1rem;
}
.footer ul,li{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.footer ul li input{
    padding: .5rem 2rem .5rem 2rem;
}